body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #cccfff;
}

.day-grid ul,
.grid-planner {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  justify-content: center;
}

.dayGrid ul {
  padding: 0;
}

.day-unit {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  list-style-type: none;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  color: #ffffff;
  width: 100%;
}

.time-slot-grid,
.grid-days {
  background-color: #4d4dff;
}

.time-slot-grid ul,
.time-table-head {
  width: 100px;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
}

.time-unit {
  list-style-type: none;
  height: 70px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #4d4dff;
}

.time-unit:not(:first-child) {
  line-height: 4;
}

.time-unit:first-child {
  height: 26px;
}

.time-unit:last-child {
  border-bottom-width: 1px;
}

.columns {
  position: relative;
  flex-grow: 1;
  flex-basis: 80px;
  background-color: #4d4dff;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  height: 2590px;
}

.rows {
  height: 70px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

.rows:last-child {
  border-bottom-width: 1px;
}

.day-grid {
  width:100%;
}

.grid-times {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  height: 700px;
  overflow-y: auto;
  margin-top: 30px;
  background-color: #4d4dff;
}

.grid-days {
  width: 90%;
  min-width: 1024px;
}

.list-group .list-group-item {
  display: none;
}

.list-group-item-heading {
  font-size: 16px;
}

.clock-details {
  display: flex;
  justify-content: space-evenly;
}

.list-group-item-responsible,
.list-group-item-description {
  margin-bottom: 5px;
}

.columns .list-group-item.task {
  position: absolute;
  width: 100%;
  color: #ffffff;
  background-color: #3b72cc;
  border: 2px solid #000000;
}

.create-task {
  width: auto;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5%;
  padding: 10px;
  margin-left: 30px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #3b72cc;
  border: 1px solid #000000;
  display: block;
}

.createTask:hover {
  background-color: #406196;
}

.createTask:focus {
  outline: 0;
}

.container-todo {
  width: 70%;
  position: fixed;
  top: 30px;
  left: 15%;
  background-color: #3b72cc;
  border: 1px solid #000000;
  color: #ffffff;
  padding-top: 40px;
  border-radius: 12px;
  display: none;
  z-index: 10;
}

.new-todo-headline,
.form-group {
  margin-left: 25px;
}

.todo-count-tasks {
  display: inline-block;
  text-align: right;
  width: 75%;
  margin-right: 25px;
}

.menu-organizer {
  width: 20%;
  display: inline-block;
}

.container-todo.open {
  display: block;
}

.close-icon {
  float: right;
  margin-right: 40px;
}

.plus-icon-task,
.close-icon-task {
  float: right;
}

.list-group-item .list-group-item-description,
.list-group-item .clock-details,
.list-group-item .btn-danger,
.list-group-item .close-icon-task {
  display: none;
}

.columns .list-group-item.open {
  position: absolute;
  width: 300px;
  height: auto;
  border: 2px solid #000000;
  z-index: 5;
}

.list-group-item.open .list-group-item-description,
.list-group-item.open .btn-danger {
  display: block;
}

.list-group-item.open .plus-icon-task {
  display: none;
}

.list-group-item.open .close-icon-task {
  display: block;
}

.list-group-item.open .clock-details {
  display: flex;
  margin-bottom: 15px;
}

.time-collision-warning {
  display: none;
}

.time-collision-warning.show {
  display: block;
  margin-bottom: 10px;
  margin-left: 25px;
}

.time-collision-warning-text {
  color: #ff0000;
  font-weight: 500;
  padding-left: 15px;
}